
.card {
  border-radius: 10px;
  border: 1px solid #eee;
  background-color: #fff;
  height: auto;
  width: 250px;
  margin: 0 8px 16px;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
  z-index: 0;

  .title {
    color: var(--gray-darker);
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
  }

  .subtitle {
    color: var(--gray);
    flex: 1 1 auto;
    font-size: 0.875rem;
    line-height: 1.5;    
  }

  .text {
    font-weight: 400;
    color: var(--red);
    flex: 1 1 auto;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    text-align: center;
  }

  .btn {
    background-color: white;
    border: 1px solid var(--gray-light);
    //border-radius: 1rem;
    color: var(--gray-dark);
    padding: 0.5rem;
    text-transform: lowercase;
    margin-bottom: 1.25rem;
    cursor: pointer;
  }
  
  .btn--block {
    display: block;
    width: 100%;
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);    
  }

  img {
    width: 100%;
    height: auto;
  }
}
