
  .toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #DB202C;
    color: white;
    font-weight: 600;
    z-index: 90;
    img {
      margin: 0 16px;
    }
  }
